<section>
<ul class="list-group">
  <li class="list-group-item"><h4>Ranking do Brasileirão!</h4></li>
  <li class="list-group-item">
    <form>
    <div class="form-group">
      <label for="sel1">Selecione o ano da edição:</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>2018</option>
        <option>2017</option>
        <option>2016</option>
        <option>2015</option>
        <option>2014</option>
        <option>2013</option>
        <option>2012</option>
        <option>2010</option>
        <option>2009</option>
        <option>2008</option>
        <option>2007</option>
        <option>2006</option>
        <option>2005</option>
        <option>2004</option>
        <option>2003</option>
        <option>2002</option>
        <option>2001</option>
        <option>2000</option>
      </select>
      <br>
      </div>
    </form>
  </li>
  <li class="list-group-item">
    <table class="table table-style">
    <thead class="thead-light font-style">
      <tr>
        <th>Posição</th>
        <th>Time</th>
        <th>Vitórias</th>
        <th>Empates</th>
        <th>Derrotas</th>
        <th>Pontos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='font-style'>1º</td>
        <td class='font-style'>Corinthians</td>
        <td class='font-style'>25</td>
        <td class='font-style'>2</td>
        <td class='font-style'>5</td>
        <td class='font-style'>85</td>
      </tr>
    </tbody>
  </table>
  </li>
  <li class="list-group-item">
    <div class="btn-group">
    <button type="button" class="btn btn-success" routerLink="/ranking">Ranking atual</button>
  </div>
  </li>
</ul>  
</section>
