<section>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#" routerLink="/">
    <img class='img-style col-2' src='assets/images/Logo03.png' alt='Campeonato_Brasileiro'>
    App Campeonato Brasileiro
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/ranking">Ranking Campeonatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/sobre">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/contatos">Contatos</a>
      </li> 
    </ul>
  </div> 
</nav>
</section>
