@media only screen and (max-width: 768px)
    .table-style
        margin-left: 1%
        margin-right: 10%
        margin-bottom: 5%
        margin-top: 5% 
    .font-style
        font-size: 12px 
    .list-group-item
        width: 768px
@media only screen and (max-width: 332px)
    .table-style
        margin-left: 1%
        margin-right: 10%
        margin-bottom: 5%
        margin-top: 5%
    .font-style
        font-size: 6px  
    .list-group-item
        width: 318px
    .section
        padding-left: 2% 
        padding-right: 5%    
.rounded-circle
    width: 5%
h4
    text-align: left 