<section>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <img src='assets/images/soccer-ball.png' class='rounded-circle' alt='bola'>
  </a>
  <a href="#" class="list-group-item list-group-item-action">    
    <div><h4>Ranking do Brasileirão 2017!</h4></div>    
  </a>
  <a href="#" class="list-group-item list-group-item-action">
  <table class="table table-style">
    <thead class="thead-light font-style">
      <tr>
        <th>Pos.</th>
        <th>Time</th>
        <th>Vitórias</th>
        <th>Empates</th>
        <th>Derrotas</th>
        <th>Pontos</th>
      </tr>
    </thead>
    <tbody *ngFor="let i of getData.standing" >
      <tr>
        <td class='font-style'>{{i.position}}</td>
        <td class='font-style'>{{i.teamName}}</td>
        <td class='font-style'>{{i.wins}}</td>
        <td class='font-style'>{{i.draws}}</td>
        <td class='font-style'>{{i.losses}}</td>
        <td class='font-style'>{{i.points}}</td>
      </tr>
    </tbody>
  </table>
  </a>  
</div>
  
</section>
